= form_tag(orders_create_path, methos: 'post') do
  - @meals.each do |kind|
    %ul
      = kind
      - @menu.each do |meal|
        - if kind == meal.meal_type.kind
          %li
            = label_tag(:meal, "#{meal.name} - #{meal.price}$")
            = radio_button_tag(kind, meal.id)
            - unless meal.image.url.nil?
              = image_tag meal.image.url

  = submit_tag('Complete')